/*ponerlo en orden de concor con el css*/ /*paleta colores, fuentes, medidas*/
/*se hace a la par del html, al comienzo*/ /*estilos generales*/
body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 50px;
}

/***HOME***/
.HomeSection1 {
  background-image: url(../media/backgroundhome2.jpg);
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomeSection1 .boxTransparente {
  background-color: #EDE1DB;
  -moz-opacity: 0.75;
  opacity: 0.75;
  border-radius: 10px;
  width: 450px;
  height: 250px;
  display: flex;
  justify-content: center;
}
.HomeSection1 .boxTransparente #divHome {
  text-align: center;
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-top: 40px;
}
.HomeSection1 .boxTransparente #divHome .bi-instagram {
  font-size: 30px;
  color: black;
}

.block1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fffde7;
  height: 500px;
}
.block1 .h4Nosotras {
  padding: 20px;
  margin-bottom: 20px !important;
  border: solid black 1px;
}
.block1 .h4Nosotras .pBlock {
  text-align: center;
}

.block2 {
  background: #fffde7;
  height: 500px;
}
.block2 #imgNosotras {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  height: 500px;
}

/*tienda*/
.tiendaSection1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tiendaSection1 .title {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 20px;
}

.btn-primary {
  background-color: #EDE1DB;
  color: black;
  border-style: none;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background: #b39ddb;
  transform: scale(0.9);
}

/*nosotras*/
.NosotrasSection1 {
  width: 100%;
  height: 150vh;
  background: url(../media/nosotras.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NosotrasSection1 .text {
  width: 30%;
  height: 40%;
  text-align: center;
  background: #EDE1DB;
  opacity: 0.8;
  border-radius: 10px;
}

/*suscripciones*/
.borde {
  height: 20px;
  background-color: #e0e0e0;
}

.boxSuscrip {
  border: 0px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgSuscrip {
  max-height: 100%;
}

.titleSuscrip {
  margin-bottom: 45px;
}

.pSuscrip {
  margin-top: 5px;
  text-align: center;
}

.box1 {
  background-color: gray;
}

.box2 {
  background-color: #EDE1DB;
}

/*eventos*/
.d-block,
.w-100 {
  width: 500px;
  height: 600px;
}

/*animaciones, transicion o transformacion*/
h1, h2, #logo {
  font-size: 30px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: aparecer;
  animation-name: aparecer;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

h1 {
  font-size: 40px;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.NavCustom {
  background: #EDE1DB;
}
.NavCustom #logoLO {
  border-radius: 40px !important;
  width: 75px;
}
.NavCustom .navbar-nav {
  background: #EDE1DB;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.NavCustom .navbar-nav .nav-item {
  font-weight: 700;
}
.NavCustom .navbar-nav .bi-bag {
  font-size: 1.3em;
}

.FooterContainer {
  width: 100%;
  height: 300px;
  background-color: #EDE1DB;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.FooterContainer .footerBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FooterContainer .footerBox ul {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FooterContainer .footerBox ul .title {
  display: flex;
  flex: 2;
}
.FooterContainer .footerBox ul .info {
  text-align: center;
  display: flex;
  flex: 1;
}
.FooterContainer .footerBox ul .igBox {
  height: 45%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.FooterContainer .footerBox ul .bi {
  font-size: 1.5em;
  text-align: center;
  color: black;
}

@media screen and (max-width: 500px) {
  .FooterContainer {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=styles.css.map */