/*ponerlo en orden de concor con el css*/ /*paleta colores, fuentes, medidas*/
/*se hace a la par del html, al comienzo*/
/*mixins*/
/*estilos generales*/
body {
  font-family: "Raleway", sans-serif;
}

.parrallax {
  background: fixed;
}

h1 {
  font-size: 50px;
}

/*mixins*/
/***HOME***/
.HomeSection1 {
  background-image: url(../media/backgroundhome2.jpg);
  background-size: cover;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.HomeSection1 .boxTransparente {
  background-color: #EDE1DB;
  -moz-opacity: 0.75;
  opacity: 0.75;
  border-radius: 10px;
  width: 450px;
  height: 250px;
}
.HomeSection1 .boxTransparente #divHome {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 40px;
}
.HomeSection1 .boxTransparente #divHome .lasOrtizTitle {
  font-weight: 700;
}
.HomeSection1 .boxTransparente #divHome .bi-instagram {
  font-size: 30px;
  color: black;
}
.HomeSection1 .boxTransparente #divHome .bi-instagram:hover {
  color: #b39ddb;
  transform: scale(0.9);
}

.block1, .block2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffde7;
  height: 500px;
}
.block1 .titleBlock, .block2 .titleBlock {
  margin-bottom: 30px;
  font-weight: 700;
}
.block1 .pBlock, .block2 .pBlock {
  text-align: center;
}
.block1 .btn-primary, .block2 .btn-primary {
  margin-top: 20px;
}
.block1 .btn-primary:hover, .block2 .btn-primary:hover {
  background-color: #b39ddb;
  transform: scale(0.9);
}

.block2 {
  height: 500px;
}
.block2 #imgNosotras {
  width: 100%;
  height: 500px;
  margin-left: 20px;
}

/*tienda*/
.card:hover .card--hover a, .card:hover {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.imgTienda {
  width: 100%;
  height: 297px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.sectionCards {
  padding: 30px;
  height: 400px;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: row;
}

.card {
  flex: 300px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #c3c6ce;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
}
.card:hover {
  border-color: black;
}
.card:hover .card--hover {
  opacity: 1;
}
.card:hover .card--hover a {
  transform: translate(-50%, 50%);
  opacity: 1;
}
.card--hover {
  text-align: center;
  opacity: 0.6;
  transition: 0.25s ease;
}
.card--hover h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.card--hover p {
  margin: 10px 0 0;
}
.card--hover a {
  transform: translate(-50%, 125%);
  border-radius: 20px;
  background-color: #b39ddb;
  color: #fff;
  padding: 8px 16px;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.25s ease;
}
.card.card--dark {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}
.card.card--dark .card--hover {
  height: 100%;
  width: 100%;
  color: #fff;
}
.card.card--dark a {
  background-color: #7FEFBD;
  color: #1a1a1a;
}

.titleTienda {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 20px;
}

.btn-primary {
  background-color: #EDE1DB;
  color: black;
  border-style: none;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: #b39ddb;
  transform: scale(0.9);
}

/*nosotras*/
.NosotrasSection1 {
  background: fixed;
  width: 100%;
  height: 1000px;
  background: url(../media/nosotras.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.NosotrasSection1 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 25%;
  text-align: center;
  background-color: #EDE1DB;
  opacity: 0.8;
  border-radius: 10px;
}
.NosotrasSection1 .text .title_historia {
  font-weight: 700;
}

/*suscripciones*/
.boxImgSuscri {
  margin-top: 40px;
  margin-bottom: 40px;
}

.hrBoxSuscrip {
  background-color: #EDE1DB;
  height: 1px;
  width: 40%;
}

.hrRey {
  background-color: #EDE1DB;
  height: 1px;
  width: 60%;
}

.boxSuscrip {
  border: 0px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgSuscrip {
  max-height: 100%;
  background-size: cover;
  border-radius: 10px;
  filter: brightness(95%);
}

.titleSuscrip {
  margin: 0px;
  font-weight: 700 !important;
}

.formBox {
  border: solid #EDE1DB 5px;
  border-radius: 10px;
  padding: 20px;
}

label {
  font-weight: 700;
}

.pSuscrip {
  margin-top: 5px;
  text-align: center;
}


.box1 {
  background-image: url(../media/suscri1.jpg);
  background-size: cover;
}


/*eventos*/
.titleEventos {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.titleH2 {
  margin-bottom: 20px;
}

.carrucelContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.carrusel {
  width: 100%;
}

.carousel-inner {
  max-height: 30em;
}

.carousel-control-prev-icon {
  font-size: 10em;
}

.w-100 {
  width: 100%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

.carousel-item {
  background-position: 50% 50%;
}

/*animaciones, transicion o transformacion*/
h1, h2, #logo {
  font-size: 30px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: aparecer;
  animation-name: aparecer;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

h1 {
  font-size: 40px;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.NavCustom {
  background-color: #EDE1DB;
}
.NavCustom #logoLO {
  border-radius: 40px !important;
  width: 75px;
}
.NavCustom .navbar-nav {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.NavCustom .navbar-nav .nav-item {
  font-weight: 700;
}
.NavCustom .navbar-nav .bi-bag {
  font-size: 1.3em;
}

.FooterContainer {
  width: 100%;
  height: 300px;
  background-color: #EDE1DB;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.FooterContainer .footerBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FooterContainer .footerBox ul {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FooterContainer .footerBox ul .title {
  display: flex;
  flex: 2;
}
.FooterContainer .footerBox ul .info {
  text-align: center;
  display: flex;
  flex: 1;
}
.FooterContainer .footerBox ul .igBox {
  height: 45%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.FooterContainer .footerBox ul .bi {
  font-size: 1.5em;
  text-align: center;
  color: black;
  transition: transform 0.2s;
}
.FooterContainer .footerBox ul .bi:hover {
  transform: scale(1.2);
}

.bi {
  font-size: 1.5em;
  text-align: center;
  color: black;
  transition: transform 0.2s;
}

.bi:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 480px) {
  .FooterContainer {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .text {
    width: 65% !important;
    height: 40% !important;
  }
}
@media screen and (max-width: 480px) {
  .text {
    width: 95% !important;
    height: 45% !important;
  }
}/*# sourceMappingURL=styles.css.map */