/*animaciones, transicion o transformacion*/
h1, h2, #logo {
    font-size: 30px;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  
  h1 {
    font-size: 40px;
  }
  
  @-webkit-keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }