
  
.footer{
    width: 100%;
    height: 500px;
    background-color: #EDE1DB;
   
}
  


.footerBox{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.title{
    display: flex;
    flex: 2
}

.info{
    text-align: center;
    display: flex;
    flex: 1
}

.igBox{
    height: 45%;
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

@media screen and (max-width:500px) {
    .FooterContainer{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}