footer {
    width: 100%;
    height: 300px;
    background: #EDE1DB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    .FooterContainer 
    {
        width: 1000%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .row 
        {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .boxFooter{
                height: 65%;
                width: 33%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .title{
                    display: flex;
                    flex: 3
                }
                .info{
                    display:flex;
                    flex: 1;
                }
               
                .bi{
                    height: 50px;
                    font-size: 1.5em;
                    color: black;
                    margin-top: 20px;
                }
                
                #logoWhatsap{
                    margin-top: 5px;
                }

                .igBox{
                    height: 40%;
                }
              
             }
    
          }
      }
  }
  

@media (min-width:500px){
    .ulfooter{
        
    }
  

}

  
  
  