

@import "maps";

/*estilos generales*/

body {
    font-family: $font-family;
 
  }
  
  .parrallax{
    background: fixed;
  }

  h1 {
    font-size: 50px;
  }
  
  /*mixins*/

  @mixin flexbox($dis, $direc, $just, $align) {
     display: $dis;
     flex-direction: $direc;
     justify-content: $just;
     align-items: $align;
  }
  
  /***HOME***/

  .HomeSection1 {
    
    background-image: url(../media/backgroundhome2.jpg);
    background-size: cover;
    height: 800px;
    @include flexbox (flex, row ,center,center,);
   
    .boxTransparente {
        background-color: map-get($map: $palette, $key: primary);
        -moz-opacity: 0.75;
        opacity: 0.75;
        border-radius: 10px;
        width: 450px;
        height: 250px;

        #divHome {
            text-align: center;
            @include flexbox(flex, column ,start ,center);
            margin-top: 40px;
            .lasOrtizTitle{
              font-weight: 700;
            }
            .bi-instagram {
                font-size: 30px;
                color: black;
                &:hover {
                 color: map-get($map: $palette, $key: hover);
                    transform: scale(0.9);
              }
          }
      }
  }
}

  .block1 {
    @include flexbox(flex, column ,center ,center);
    background-color: map-get($map: $palette, $key: secundary);
    height: 500px;
        .titleBlock{
          margin-bottom: 30px;
          font-weight: 700;
        }
        .pBlock {
            text-align: center;
          }
        .btn-primary{
          margin-top: 20px;
          &:hover {
            background-color: map-get($map: $palette, $key: hover);
              transform: scale(0.9);
            }

        }
      }
    
  .block2 {
    @extend .block1;
    height: 500px;
    #imgNosotras {
        width: 100%;
        height: 500px;
        margin-left: 20px;
    }
  }

  
  /*tienda*/

  @mixin transform($property) {
    -webkit-transform: $property;
        -ms-transform: $property;
            transform: $property;
  }
  
  @mixin flex($property) {
    -webkit-box-flex: $property;
            -ms-flex: $property;
                flex: $property;
  }
  
  %shadow {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }
  
  .imgTienda{
    width: 100%;
    height: 297px;
    object-fit: cover;
    border-radius: 10px;
}
  
  .sectionCards {
    padding: 30px;
    height: 400px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: row;
    -webkit-flex-flow: row wrap;
  }
  .card {
    @include flex(300px);
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #c3c6ce;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;
    &:hover {
      @extend %shadow;
      border-color:black;
      .card--hover {
        opacity: 1;
        a {
          @extend %shadow;
          @include transform(translate(-50%, 50%));
          opacity: 1;
        }
      }
    }
    &--hover {
      
      text-align: center;
      opacity: 0.6;
      transition: 0.25s ease;
        h3 {
          font-size: 30px;
          font-weight: bold;
          margin: 0;
        }
      p {
        margin: 10px 0 0;
      }
  
      a {
        @include transform(translate(-50%, 125%));
        border-radius: 20px;
        background-color: #b39ddb;
        color: #fff;
        padding: 8px 16px;
        display: inline-block;
        text-decoration: none;
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: 0;
        transition: 0.25s ease;
      }
    }
    &.card--dark {
      background-color: #1a1a1a;
      border-color: #1a1a1a;
      .card--hover {
        height: 100%;
        width: 100%;
        color: #fff;
      }
      a {
        background-color: #7FEFBD;
        color: #1a1a1a;
      }
    }
  }

  .titleTienda{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  .card {
    margin: 20px;
  }

    .btn-primary {
      background-color: map-get($map: $palette, $key: primary);
        color: black;
        border-style: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: map-get($map: $palette, $key: hover);
            transform: scale(0.9);
          }
      }
  
  /*nosotras*/

  .NosotrasSection1 {
    background: fixed; 
    width: 100%;
    height: 1000px;
    background: url(../media/nosotras.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include flexbox(flex,row ,center ,center);

    .text {
      @include flexbox(flex,column,center ,center);
        width: 55%;
        height: 25%;
        text-align: center;
        background-color: map-get($map: $palette, $key: primary);
        opacity: 0.8;
        border-radius: 10px;
        .title_historia{
          font-weight: 700;
        }
      }
  }

  /*suscripciones*/


.boxImgSuscri{
  margin-top: 40px;
  margin-bottom: 40px;
}
  .hrBoxSuscrip{
    background-color: #EDE1DB;
    height: 1px;
    width: 40%;
    
  }

  .hrRey{
    background-color: #EDE1DB;
    height: 1px;
    width: 60%;
   
  }

  .boxSuscrip{
    border: 0px;
    height: 600px;
    @include flexbox(flex,column ,center,center);

  }

  .imgSuscrip{
    // height: auto;
    // width: 100%;
    max-height: 100%; 
    background-size: cover;
    border-radius: 10px;
    filter: brightness(95%);
 
  }

  .titleSuscrip{
    margin: 0px;
    font-weight: 700 !important;
  }

  .formBox{
    border: solid #EDE1DB 5px;
    border-radius: 10px;
    padding: 20px;
  }

   label{
    font-weight: 700;
   }

  .pSuscrip{
    margin-top: 5px;
    text-align: center;
  }

  /*eventos*/
  .titleEventos{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .titleH2{
   margin-bottom: 20px;
   
  }

  .carrucelContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
   
  }
  .carrusel{
    width: 100%;
  
  }

  .carousel-inner{
    max-height: 30em;
    
  }

  .carousel-control-prev-icon{
    font-size: 10em;
  }
 
  .w-100 {
   width: 100%;
   height: 600px;
   object-fit:contain;
   border-radius: 10px;

  }

  .carousel-item{
    background-position: 50% 50%;
  }



 

  
  