

/*estilos generales*/

body {
    font-family: $font-family;
  }
  
  h1 {
    font-size: 50px;
  }
  
  
  /***HOME***/
  .HomeSection1 {
    background-image: url(../media/backgroundhome2.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    .boxTransparente {
        background-color: $bgColor1;
        -moz-opacity: 0.75;
        opacity: 0.75;
        border-radius: 10px;
        width: 450px;
        height: 250px;
        display: flex;
        justify-content: center;
        #divHome {
            text-align: center;
            display: flex;
            justify-content: start;
            flex-direction: column;
            margin-top: 40px;
            .bi-instagram {
                font-size: 30px;
                color: black;
              }
          }
      }
  }
  
  
  .block1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $bgColor2;
    height: 500px;
    .h4Nosotras {
        padding: 20px;
        margin-bottom: 20px !important;
        border: solid black 1px;
        .pBlock {
            text-align: center;
          }
      }
  }
  
  
  .block2 {
    background: $bgColor2;
    height: 500px;
    #imgNosotras {
        -o-object-fit: cover;
           object-fit: cover;
        max-width: 100%;
        height: 500px;
      }
  }
  
  
  /*tienda*/
  .tiendaSection1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  }
  
  
  .card {
    margin: 20px;
    .btn-primary {
        background-color: $bgColor1;
        color: black;
        border-style: none;
        transition: all 0.3s ease-in-out;
        &:hover {
            background: $hover;
            transform: scale(0.9);
          }
      }
  }
  
  
  /*nosotras*/
  .NosotrasSection1 {
    width: 100%;
    height: 150vh;
    background: url(../media/nosotras.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
        width: 30%;
        height: 40%;
        text-align: center;
        background: $bgColor1;
        opacity: 0.8;
        border-radius: 10px;
      }
  }

  
  /*suscripciones*/
  /*eventos*/
  .d-block,
  .w-100 {
    width: 500px;
    height: 600px;
  }
  
  
  