

@mixin movil($medida:480px){
    @media screen and (max-width:$medida) {
        @content;
    }
}

.FooterContainer{
    @include movil(){
        width: 100%;
        height: 400px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
  
}

.text{

     @include movil(768px){
        width: 65% !important;
        height: 40% !important;
    }
    
    @include movil(){
        width: 95% !important;
        height: 45% !important;
    }

   
}

