.NavCustom {
    background-color: map-get($map: $palette, $key: primary);
    #logoLO {
        border-radius: 40px !important;
        width: 75px;
      }
      .navbar-nav {
       
        height: 100px;
        width: 100%;
        @include flexbox(flex, row ,space-around ,center);
        .nav-item {
            font-weight: 700;
          }
        .bi-bag{
          font-size: 1.3em;
        }
      }
  }
  