 /*paleta colores, fuentes, medidas*/
 /*se hace a la par del html, al comienzo*/
 
 $font-family:"Raleway", sans-serif;


 $palette: (
    primary: #EDE1DB,
    secundary: #fffde7,
    hover: #b39ddb
    );


 