 /*paleta colores, fuentes, medidas*/
 /*se hace a la par del html, al comienzo*/
 
 $font-family:"Raleway", sans-serif;



  /*mixins*/

  @mixin flexbox($dis, $direc, $just, $align) {
    display: $dis;
    flex-direction: $direc;
    justify-content: $just;
    align-items: $align;
 }
 
 