
		/* lo unica clase caracteristica de cada page es body_"page" y main_"page"; luego uso herencia*/

		*, *:before, *:after {

		  box-sizing: inherit;
		}

		body{
		/*	min-height: 150vh;*/
			font-family: 'Raleway', sans-serif;
			margin: 0px;
			width: 100%;
			height: 100%;

		}


		h1{
			font-size: 50px;
		  
		}


		.navbar-nav{
			background: #EDE1DB;
			height: 100px;
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
		}

		#logoLO{
			border-radius: 40px !important; 
			width: 50px;

		}

		#navbar{
			background: #EDE1DB;
		}

		/*.navbar-nav{
			width: 100%;
			height: 100%;
			background: #EDE1DB
		}*/

		
		

			
		
	

	/*	li.menu{
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 4;
			
		}

		li.social{
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1

		}

		.logo{
			width: 22px;
			margin-bottom: 0px;
			
		}

		.iglogo{
			width: 55px;
			border-radius: 30px;
		}*/



		footer{
			width: 100%;
			height: 500px;
			background: #EDE1DB;
			display: flex;
			justify-content: center;
			margin: 0px;


		}

		footer div{
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.column{
			width: 50%;
			height: 200px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.title{
			font-family: 'Raleway', sans-serif;
			display: flex;
			flex: 2;

		}

		.info{
			font-family: 'Raleway', sans-serif;
			display: flex;
			flex: 1;
		}



		/***HOME***/

		.bi-instagram{
			font-size: 30px;
			color: black;
		}
		

		#divHome{
			text-align: center;
			display: flex;
			justify-content: start;
			flex-direction: column;
			margin-top: 40px;
		}

		.div1{
			background-image: url(../media/backgroundhome2.jpg);
			background-size: cover;
			height: 500px;
			display: flex;
			justify-content: center;
			align-items: center;
		}


		.boxTransparente{
			background-color: #EDE1DB;
			-moz-opacity:.75;opacity:.75;
			border-radius: 10px;
			width: 450px;
			height: 250px;
			display: flex;
			justify-content: center;
		}


		.HomeSection1{
			height: 200px;
			border: solid black 1px;
			display: flex;
			justify-content: center;
			align-items: center;

		}

		.HomeSection2{
			margin-top: 10px;
			border: solid black 1px;
			height: 500px;
			display: flex;
	

		}

		/*
		*/

		.block{
			border: solid black 1px;
			height: 100%;
			width: 100%;
		}

		.box1{

			background: #fffde7;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

		}

		.boxContent{
			border: solid black 1px;
			margin: 50px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}

		.pBlock{
			text-align: center;
		}

		.h4nosotras{
			margin-bottom: 40px;
			
		}

		



		.ImgNosotras{
			width: 100%;
			height: 500px;

		}

		


		

		/*GRID AREAS*/

		header{
			grid-area: header;

		}

		section{
			grid-area: section;

		}

		footer{
			grid-area: footer;

		}

		#main{
			/*border: solid 2px black;*/
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: 10% auto 30%;
			grid-template-areas: "header" "section" "footer";

		}




		/*tienda*/

		.tiendaSection1{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.title{
			margin: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.btn-primary{
			background-color: #EDE1DB;
			color: black;
			border-style: none;
		}

		.btn-primary:hover{
			background: #b39ddb;
		}

		.card{
			margin: 20px;
		}


		

		/*contacto*/

		/*.main_nosotras{
			width: 100%;
			height: 100vh;
			background: url(../media/nosotras.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			display: flex;
			justify-content: center;
			align-items: center;

		}*/

		.body_contacto{ 
			width: 100%;
		  background-image: url(../media/contactoa.jpg); 
		  background-size: cover;
		  background-repeat: no-repeat;
		  background-size: 100%;
		  margin: 0px;

		}

		.main_contacto{
			width: 100%;
			height: 120vh;
			display: flex;
			justify-content: center;

		}

		.main_contacto .section{
			width: 60%;
			height: ;
			display: flex;
			justify-content: center;
			align-items: center;

		}

		.form{

		width: 450px;
		margin: auto;
		background: rgba(0, 0, 0, 0.2);
		padding: 10px 20px;
		box-sizing: border-box;
		/*margin-top:50px ;*/
		border-radius: 10px;
		display: flex;
		flex-direction: column;

		}

		.form .h2{

			color: white;
			text-align: center;
			font-size: 30px;
			margin-bottom: 20px;
		}

		.input, .textarea{ /*In one element, you can put CLASS and ID together, and call them in two diferent way*/

			width: 100%;
			margin-bottom: 20px;
			padding: 7px;
			box-sizing: border-box;
			font-size: 17px;
			color: white;

		}

		.label{
			color: white;
		}

		.textarea{

			min-height: 100px;
			max-height: 200px;
			max-width: 100%;

		}

		#btn_form{

			background: white;
			color: black;
			border-radius: 7px;
			border: white;


		}

		#btn_form:hover{

			cursor: pointer;
			background:  #fce4ec;
			color: black;
			border: solid 1px black;

		}


		/*nosotras*/

		.body_nosotras{
			background: #EDE1DB;
			margin: 0px;

		}

		.main_nosotras{
			width: 100%;
			height: 150vh;
			background: url(../media/nosotras.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			display: flex;
			justify-content: center;
			align-items: center;

		}

		.text{
			width: 30%;
			height: 40%;
			text-align: center;
			background: #EDE1DB;
			opacity: 0.8;
			border-radius: 10px;
		}



		/*main nosotras1*/

		/*.main_nosotras{
			width: 100%;
			min-height: 500px;
			display: flex;
			justify-content: center;

		}

		.main_nosotras .div_nosotras{
			width: 50%;
			background: #B7A396;
			border-radius: 10px;
			display: flex;
			justify-content: center;
			align-items: center;

		}

		.div_nosotras .text{
			height: 80%;
			display: flex;
			flex-direction:column;
			justify-content: flex-start;
			align-items: center;

		}

		.title_historia{
			font-size: 35px;
			display: flex;
			flex: 1;

		}

		.text_historia{
			width: 70%;
			text-align: center;
			display: flex;
			justify-content: center;
			flex: 4;

		}

		.img_nosotras{
			width: 700px;
		}*/






		/*suscripciones*/

		.main_suscripciones{
			min-height: 100vh;

		}

		/*eventos*/

		.main_eventos{
			min-height: 100vh;

		}

		.d-block,
		.w-100{
			width: 500px;
			height: 600px;
		 }

		/*animaciones, transicion o transformacion*/ 

		h1, h2, #logo{
			font-size: 30px;
		 	animation-duration: 2s;
		 	animation-name: aparecer;
		 	animation-iteration-count: 1;
		  
		  
		}

		h1{
			font-size: 40px;
		
		}
		@keyframes aparecer {
	            0% {
	                opacity: 0;
	            }
	            100% {
	                opacity: 1;
	            }
	        }	








